[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pylint = "*"
pylint-django = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
django-nose = "*"
coverage = "*"
django-redis = "*"
redis = "*"
dj-database-url = "*"
django-cache-url = "*"

[requires]
python_version = "3.8"
